hbayesdm = "<=1.0.1"
nibabel = "^3.2.0"
nilearn = "^0.7.0"
glmnet = "^2.2.1"
pystan = "^2.19.1"
bids = "^0.0"
scikit-image = "^0.17.2"
matplotlib = "^3.3.3"
tensorflow = "^2.4.0"
numpy = "^1.18.5"
pandas = "^1.1.4"
sklearn = "^0.0"
scipy = "^1.5.4"
tqdm = ">=4.0.0"
statsmodels = "^0.12.2"
PyYaml